<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
    <h1 class="title-text">{{ title }}</h1>

    <div class="image-box">
        <img class="art-image" src="{{ url_for('static', filename=image) }}" alt="작품 이미지">
    </div>
    
    <p class="explan-text">{{ explanation }}</p>
    
    <audio class="sound" controls>
        <source src="{{ url_for('static', filename=audio) }}" type="audio/mp3">
    </audio>
    </div>
</body>
</html>